{
	"roleAnchorItems": {
		"Chemist": [
			"apexcoolshelf2",
			"redflask",
			"greenflask",
			"blueflask"
		],
		"Engineer": [
			"craftingfurnace",
			"inventorstable"
		],
		"Janitor": [
			"trashbag",
			"trashcan",
			"hylotltrashcan",
			"poop"
		],
		"Mechanic": [
			"tier3switch",
			"tier4switch",
			"apexfuelhatch"
		],
		"Medic": [
			"apexmedsign",
			"stationmedscanner"
		],
		"Outlaw": [
			"gunchest",	
			"barrelgoldfilled",
			"woodencrategoldfilled",
			"targetdummy",
			"medievalmap"
		],
		"Soldier": [
			"gunchest",
			"targetdummy",
			"medievalmap"
		],
		"Tailor": [
			"craftingwheel",
			"apexcoolchair"
		]
	},
	"shipMarkerItems": [
		"fu_byosteleporter",
		"techstation"
	]
}