{
	"roleAnchorItems": {
		"Chef": [
			"apexoven",
			"campfire",
			"floranstove",
			"kitchenstovetop",
			"medievallargecookingpot",
			"microwave",
			"nanostove",
			"outpostcookingtable",
			"outpostmicrowave",
			"rusticoven",
			"woodencookingtable"
		],
		"Chemist": [
			"apexcoolshelf2",
			"blueflask",
			"greenflask",
			"redflask"
		],
		"Engineer": [
			"craftingfurnace",
			"inventorstable"
		],
		"Janitor": [
			"hylotltrashcan",
			"poop",
			"trashbag",
			"trashcan"
		],
		"Mechanic": [
			"apexfuelhatch",
			"tier3switch",
			"tier4switch"
		],
		"Medic": [
			"apexmedsign",
			"stationmedscanner"
		],
		"Outlaw": [
			"gunchest",	
			"barrelgoldfilled",
			"medievalmap",
			"targetdummy",
			"woodencrategoldfilled"
		],
		"Soldier": [
			"gunchest",
			"medievalmap",
			"targetdummy"
		],
		"Tailor": [
			"apexcoolchair",
			"craftingwheel"
		]
	},
	"roleScheduleTasks": {
		"Chef": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Chemist": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Engineer": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Janitor": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Mechanic": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Medic": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Outlaw": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["patrol", "roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["patrol"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["patrol", "work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Soldier": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["patrol", "roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["patrol"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["patrol", "work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["patrol", "lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Tailor": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["chat", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["chat", "lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["chat", "roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["chat", "lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		]
	},
	"roleTaskReactions": {
		"_default": {
			"lounge": [
				{
					"reaction": "drink",
					"emote": ["oooh"],
					"duration": 3.0,
					"monologue": [""],
					"type": "custom"
				}
			],
			"work": [
				{
					"reaction": "typing",
					"emote": ["happy"],
					"duration": 3.0,
					"monologue": ["", "I'm working, nothing to see here."],
					"type": "custom"
				}
			]
		},
		"Chef": {
			"work": [
				{
					"reaction": "typing",
					"emote": ["annoyed"],
					"duration": 4.0,
					"monologue": ["", "WHERE'S THE LAMB SAUCE?!"],
					"type": "custom"
				}, {
					"reaction": "vomit",
					"monologue": ["", "No... just, no."],
					"type": "special"
				}
			]
		},
		"Chemist": {
			"work": [
				{
					"reaction": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Interesting type of compound, what if I use this on monsters?"],
					"type": "custom"
				},
				{
					"reaction": "drink",
					"emote": ["happy", "oooh", "oh", "shouting"],
					"duration": 2.0,
					"monologue": ["", "This compound has interesting properties, lemme drink it."],
					"type": "custom"
				},
				{
					"reaction": "panic",
					"emote": ["oh", "shouting"],
					"duration": 2.0,
					"monologue": ["", "I just spilled the red flask!"],
					"type": "custom"
				},
				{
					"reaction": "vomit",
					"monologue": ["", "I think my mixture wasn't all that bad, is it?"],
					"type": "special"
				},
				{
					"reaction": "nosebleed",
					"monologue": ["", "This is perfect!"],
					"type": "special"
				},
				{
					"reaction": "explode",
					"monologue": ["", "Uh... Boom Baby?", "BOOM BABY!"],
					"type": "special"
				}
			]
		},
		"Engineer": {
			"work": [
				{
					"reaction": "punch",
					"emote": ["annoyed"],
					"duration": 2.0,
					"monologue": ["", "REEE!"],
					"type": "custom"
				},
				{
					"reaction": "typing",
					"emote": ["laugh", "happy"],
					"duration": 4.0,
					"monologue": ["", "All systems nominal."],
					"type": "custom"
				},
				{
					"reaction": "flipswitch",
					"emote": ["blabbering", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Yoooo our ship is now a little bit faster", "Done and done. This ship is a step closer to become speedy boi."],
					"type": "custom"
				},
				{
					"reaction": "pressbutton",
					"emote": ["neutral"],
					"duration": 2.0,
					"monologue": ["", "FTL Drive is stable", "Ship anti-matter sheild is intact."],
					"type": "custom"
				},
				{
					"reaction": "touchandexplode",
					"monologue": ["", "That... wasn't a good idea."],
					"type": "special"
				},
				{
					"reaction": "pretendbeam",
					"monologue": ["", "It... it didn't work as I expected."],
					"type": "special"
				},
				{
					"reaction": "beamaway",
					"monologue": ["Yeah! it worked!", "*HEAVY METAL MUSIC*", "It worked!"],
					"type": "special"
				},
				{
					"reaction": "burn",
					"monologue": ["", "OOF"],
					"type": "special"
				}
			]
		},
		"Janitor": {
			"work": [
				{
					"reaction": "pressbutton",
					"emote": ["blabbering", "neutral", "happy"],
					"duration": 2.0,
					"monologue": ["", "Ah, squeaky clean ship.", "This sector is now clean."],
					"type": "custom"
				},
				{
					"reaction": "crouchcollect",
					"monologue": ["", "Hey! someone drop their trinket here!"],
					"type": "special"
				},
				{
					"reaction": "droptrash",
					"monologue": ["", "Into the dumpster hole you go, flyboy.", "I'm dumping a lot of trash, most of it are your waifus."],
					"type": "special"
				},
				{
					"reaction": "vomit",
					"monologue": ["", "This smells awful!"],
					"type": "special"
				}
			]
		},
		"Mechanic": {
			"work": [
				{
					"reaction": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "Fuel tank needs more oomph!", "Captain might be interested on some black market nano fuel tanks."],
					"type": "custom"
				},
				{
					"reaction": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Yooo! My experimental fuel tank works", "This experimental UC7 Fuel tank will sure be useful"],
					"type": "custom"
				},
				{
					"reaction": "panic",
					"emote": ["shouting", "annoyed"],
					"duration": 2.0,
					"monologue": ["", "Please don't put water into the fuel hatch. FTL and water don't mix."],
					"type": "custom"
				},
				{
					"reaction": "posedance",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Need to wiggle, been standing for long"],
					"type": "custom"
				},
				{
					"reaction": "wet",
					"monologue": ["", "Whew, that was a lot of work.", "It was very hot inside the utility bay.", "We need a better air conditioning"],
					"type": "special"
				},
				{
					"reaction": "jumpforjoy",
					"monologue": ["", "UC7 module just increased this ships fuel efficiency.", "I just made ship fuel consumtion much more efficient!"],
					"type": "special"
				},
				{
					"reaction": "explode",
					"monologue": ["", "DON'T PUT WATER INTO THE FUEL HAAATCH!", "OOF"],
					"type": "special"
				}
			]
		},
		"Medic": {
			"work": [
				{
					"reaction": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "Care for some bandages?", "Hopefully everyone will stay healthy"],
					"type": "custom"
				},
				{
					"reaction": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Hopefully everyone will stay healthy"],
					"type": "custom"
				},
				{
					"reaction": "drink",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Remember to drink 8 glasses of water a day!", "Stay hydrated y'all!", "W A T E R"],
					"type": "custom"
				},
				{
					"reaction": "love",
					"monologue": ["", "Have some love <3"],
					"type": "special"
				},
				{
					"reaction": "jumpforjoy",
					"monologue": ["", "Results shows that everyone is in perfect health!"],
					"type": "special"
				},
				{
					"reaction": "watchsleeping",
					"monologue": ["", "I'm gonna check you up, sleepy boi.", "Mhm, you seem fine.", "Mhm, you seem to be doing well."],
					"type": "special"
				},
				{
					"reaction": "comfort",
					"monologue": ["", "It's not that painful, stay calm", "Mhm, you seem fine."],
					"type": "special"
				}
			]
		},
		"Outlaw": {
			"work": [
				{
					"reaction": "steer",
					"emote": ["neutral", "laugh"],
					"duration": 2.0,
					"monologue": ["", "HAHA! this is fun!", "I'll ask cap to do treasure hunting on our next quest!"],
					"type": "custom"
				},
				{
					"reaction": "flipswitch",
					"emote": ["oooh", "shouting"],
					"duration": 2.0,
					"monologue": ["", "This doesn't seem to do anything"],
					"type": "custom"
				},
				{
					"reaction": "warmhands",
					"emote": ["blabbering"],
					"duration": 2.0,
					"monologue": ["", "Can someone turn the temperature up a bit?", "It's getting cold here."],
					"type": "custom"
				},
				{
					"reaction": "schadenfreude",
					"monologue": ["", "HA! Look captain, I just shot down a pirate ship!"],
					"type": "simple"
				},
				{
					"reaction": "creepyfollow",
					"monologue": ["", "Psst hey! want some B vitamins?", "I uh...", "I'm gonna chase you!"],
					"type": "special"
				},
				{
					"reaction": "flee",
					"monologue": ["", "AHH! Captain help! The space cops are here!", "SPACE COPS!"],
					"type": "special"
				}
			]
		},
		"Soldier": {
			"work": [
				{
					"reaction": "typing",
					"emote": ["happy"],
					"duration": 2.0,
					"monologue": ["", "All areas secured."],
					"type": "custom"
				},
				{
					"reaction": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "No hostiles detected, we're safe for now", "No hostiles found, you may rest easy everyone."],
					"type": "custom"
				},
				{
					"reaction": "posedance",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Stay fit and be a chad!", "I'm a zumba boi."],
					"type": "custom"
				},
				{
					"reaction": "wiggledance",
					"monologue": ["", "Stay fit and be a chad!", "I'm a zumba boi."],
					"type": "simple"
				},
				{
					"reaction": "armswingdance",
					"monologue": ["", "Stay fit and be a chad!", "I'm a zumba boi."],
					"type": "simple"
				},
				{
					"reaction": "schadenfreude",
					"monologue": ["", "Captain sir, We just shot down a pirate ship!"],
					"type": "simple"
				},
				{
					"reaction": "panic",
					"monologue": ["", "Hostiles!"],
					"type": "simple"
				},
				{
					"reaction": "flee",
					"monologue": ["", "Hostiles incoming!", "Incoming!"],
					"type": "special"
				},
				{
					"reaction": "comfort",
					"monologue": ["", "Don't panic, everything will be alright", "Nah, you're good mate!"],
					"type": "special"
				}
			]
		},
		"Tailor": {
			"work": [
				{
					"reaction": "typing",
					"emote": ["laugh", "happy"],
					"duration": 2.0,
					"monologue": ["", "I'll design some armor, don't wanna get yeeted at a wacky planet."],
					"type": "custom"
				},
				{
					"reaction": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Paging captain: You might wanna try this new kevlar armor design I have.", "Fashion + Reliability = Badass"],
					"type": "custom"
				},
				{
					"reaction": "postmail",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "New designs eh?"],
					"type": "custom"
				},
				{
					"reaction": "playairhockey",
					"monologue": ["", "Thanks for helping me test out this sport suit", "Wow, this is suprisingly comfortable to wear"],
					"type": "special"
				},
				{
					"reaction": "beamaway",
					"monologue": ["", "I just included a teleporter in this gloves", "Awesome teleporter gloves"],
					"type": "special"
				},
				{
					"reaction": "chase",
					"monologue": ["", "Hey, look at this shoes, it's feels very light", "Hey, check out this shoes"],
					"type": "special"
				},
				{
					"reaction": "hurthop",
					"monologue": ["", "The sole didn't stick well", "The sole needs flex tape"],
					"type": "special"
				}
			]
		}
	},
	"shipMarkerItems": ["fu_byosteleporter", "techstation"],
	"taskDefaults": ["chat", "lounge", "patrol", "roam", "sleep", "work"],
	"taskActionSpeechChance": 15,
	"taskChangeActivityChance": 20
}

/* Docs */

	// roleAnchorItems: Contains the roles and the items associated where the crew is likely to hang around.

	/* roleScheduleTasks:

		Each role indicated contains an array of object with 2 required properties:

			task:
				An array of tasks on what the crew should do (picked randomly on the array) within the time range indicated at the 'time' property.
				Currently only 5 presets are available, please see "taskDefaults"
				
			time:
				An array accepting 2 values containing time range [(startTime), (endTime)]. Accepted values are 0 to 1.

	*/

	/* roleTaskReactions:

		Each role indicated contains the task the crew would react to while doing it (currently restricted to work):
		With each task contains an array of reaction the crew will randomly choose from containing these properties:

			reaction: Please see the set of several working reactions on the notes below
			emote: An array of emotes (please see the notes below) that the crew will randomly pick while doing a reaction
			duration: How long the reaction should last
			monologue:
				An array of text that the crew will say while doing the reaction (please see taskActionSpeechChance on how likely it is the crew should do a monologue)
				Always include a blank string item on the array when creating a new reaction set (see the examples below) if you don't like the crew always monologuing at a certain type of action
			type: 
				There are three types that can be indicated in this property: custom, simple, special
				For custom types, all properties (reaction, emote, duration, monologue, type) is required
				Simple and Special types accepts reaction, monologue and type property.
				For simple types, please refer to simpleReactions at the vanilla /npc/default_reactions.config
				For special types, please refer to behaviorReactions at the vanilla /npc/default_reactions.config

		Example (Custom):

			{
				"reaction": "typing",
				"emote": ["annoyed", "blabbering"],
				"duration": 4.0,
				"monologue": ["", "hello world", "foo", "bar"],
				"type": "custom"
			}

		Example (Simple):
		
			{
				"reaction": "oooh",
				"monologue": ["", "Amazing!"],
				"type": "simple"
			}

		Example (Special):

			{
				"reaction": "vomit",
				"monologue": ["", "I'm pouring out some love juice!"],
				"type": "special"
			}

	*/
		
	// shipMarkerItems: Currently not functional
	// taskDefaults: Current available tasks and is placed there for reference (adding or removing an item will cause bugs)
	// taskActionSpeechChance: How likely it is that the crew will do a monologue when doing a task
	// taskChangeActivityChance: How often they would move around while doing a task

/* Notes */

	// Default Reactions include: ["drink", "flipswitch", "panic", "posedance", "postmail", "pressbutton", "punch", "sell", "steer", "typing", "warmhands"]
	// Default Emotes include: ["annoyed", "blabbering", "blink", "happy", "laugh", "neutral", "oh", "oooh", "sad", "shouting", "wink"]
