{
	"roleAnchorItems": {
		"Chef": [
			"apexoven",
			"campfire",
			"floranstove",
			"kitchenstovetop",
			"medievallargecookingpot",
			"microwave",
			"nanostove",
			"outpostcookingtable",
			"outpostmicrowave",
			"rusticoven",
			"woodencookingtable"
		],
		"Chemist": [
			"apexcoolshelf2",
			"blueflask",
			"greenflask",
			"redflask"
		],
		"Engineer": [
			"craftingfurnace",
			"inventorstable"
		],
		"Janitor": [
			"hylotltrashcan",
			"poop",
			"trashbag",
			"trashcan"
		],
		"Mechanic": [
			"apexfuelhatch",
			"tier3switch",
			"tier4switch"
		],
		"Medic": [
			"apexmedsign",
			"stationmedscanner"
		],
		"Outlaw": [
			"gunchest",	
			"barrelgoldfilled",
			"medievalmap",
			"targetdummy",
			"woodencrategoldfilled"
		],
		"Soldier": [
			"gunchest",
			"medievalmap",
			"targetdummy"
		],
		"Tailor": [
			"apexcoolchair",
			"craftingwheel"
		]
	},
	"roleScheduleTasks": {
		"Chef": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Chemist": [
			{
				"time": [0, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Engineer": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Janitor": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Mechanic": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Medic": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Outlaw": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Soldier": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		],
		"Tailor": [
			{
				"time": [0.1, 0.2],
				"tasks": ["roam", "work", "lounge"]
			},
			{
				"time": [0.3, 0.4],
				"tasks": ["work"]
			},
			{
				"time": [0.5, 0.6],
				"tasks": ["break", "lounge", "roam"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["work", "roam", "chat"]
			},
			{
				"time": [0.7, 0.8],
				"tasks": ["sleep", "work"]
			}
		]
	},
	"shipMarkerItems": [
		"fu_byosteleporter",
		"techstation"
	]
}
