{
	"roleAnchorItems": {
		"Chef": [
			"apexoven",
			"campfire",
			"floranstove",
			"kitchenstovetop",
			"medievallargecookingpot",
			"microwave",
			"nanostove",
			"outpostcookingtable",
			"outpostmicrowave",
			"rusticoven",
			"woodencookingtable"
		],
		"Chemist": [
			"apexcoolshelf2",
			"blueflask",
			"greenflask",
			"redflask"
		],
		"Engineer": [
			"craftingfurnace",
			"inventorstable"
		],
		"Janitor": [
			"hylotltrashcan",
			"poop",
			"trashbag",
			"trashcan"
		],
		"Mechanic": [
			"apexfuelhatch",
			"tier3switch",
			"tier4switch"
		],
		"Medic": [
			"apexmedsign",
			"stationmedscanner"
		],
		"Outlaw": [
			"gunchest",	
			"barrelgoldfilled",
			"medievalmap",
			"targetdummy",
			"woodencrategoldfilled"
		],
		"Soldier": [
			"gunchest",
			"medievalmap",
			"targetdummy"
		],
		"Tailor": [
			"apexcoolchair",
			"craftingwheel"
		]
	},
	"roleScheduleTasks": {
		"Chef": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Chemist": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Engineer": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Janitor": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Mechanic": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Medic": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Outlaw": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Soldier": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		],
		"Tailor": [
			{
				"tasks": ["lounge", "roam", "sleep"],
				"time": [0.1, 0.2]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.2, 0.3]
			},
			{
				"tasks": ["work"],
				"time": [0.3, 0.4]
			},
			{
				"tasks": ["work"],
				"time": [0.4, 0.5]
			},
			{
				"tasks": ["lounge", "roam"],
				"time": [0.5, 0.6]
			},
			{
				"tasks": ["roam", "work"],
				"time": [0.6, 0.7]
			},
			{
				"tasks": ["work"],
				"time": [0.7, 0.8]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.8, 0.9]
			},
			{
				"tasks": ["lounge", "sleep", "work"],
				"time": [0.9, 1.0]
			},
			{
				"tasks": ["lounge", "sleep"],
				"time": [1.0, 0.1]
			}
		]
	},
	"roleTaskActions": {
		"Chef": {
			"work": [
				{
					"action": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "HAHA! This is gonna be chaotic!"]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "I just hope my limbs will still be attached after this experiment."]
				},
				{
					"action": "posedance",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "I think I just discovered something"]
				}
			]
		},
		"Chemist": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "HAHA! This is gonna be chaotic!"]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Interesting type of acid, what if I use it on monsters.", "Formula 7 it is..."]
				},
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "This compound has interesting properties, lemme drink it."]
				},
				{
					"action": "panic",
					"emote": ["oh", "shouting"],
					"duration": 2.0,
					"monologue": ["", "Formula 7 is missing!", "I just spilled the red flask!", "Not enough ATOMS!"]
				}
			]
		},
		"Engineer": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "punch",
					"emote": ["annoyed"],
					"duration": 2.0,
					"monologue": ["", "REEE!"]
				},
				{
					"action": "typing",
					"emote": ["laugh", "happy"],
					"duration": 2.0,
					"monologue": ["", "This quantum thingy here could use some 'efficiency'. Captain won't know anyways, hehe.", "All systems nominal."]
				},
				{
					"action": "pressbutton",
					"emote": ["neutral"],
					"duration": 2.0,
					"monologue": ["", "V69 engine prototype experiment is now commencing.", "FTL Drive is stable", "Ship anomalous sheilding is intact."]
				},
				{
					"action": "panic",
					"emote": ["shouting", "annoyed"],
					"duration": 2.0,
					"monologue": ["", "Please don't put water into the fuel hatch. FTL and water don't mix."]
				}
			]
		},
		"Janitor": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "crouchcollect",
					"emote": ["neutral"],
					"duration": 2.0,
					"monologue": ["", "More cleaning eh? what do we got trash bin buddy?"]
				},
				{
					"action": "pressbutton",
					"emote": ["oooh"],
					"duration": 2.0,
					"monologue": ["", "I'm still amazed at this auto dump tech thing."]
				},
				{
					"action": "panic",
					"emote": ["annoyed"],
					"duration": 2.0,
					"monologue": ["", "STOP DEFACATING ON THE URINALS!"]
				}
			]
		},
		"Mechanic": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "Fuel tank needs more oomph!", "Captain might be interested on some black market nano fuel tanks."]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Yooo! My experimental fuel tank works", "This experimental UC7 Fuel tank will sure be useful"]
				},
				{
					"action": "posedance",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Need to wiggle, been standing for long"]
				}
			]
		},
		"Medic": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "Care for some bandages?", "Hopefully everyone will stay healthy"]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Hopefully everyone will stay healthy"]
				},
				{
					"action": "drink",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Remember to drink 8 glasses of water a day!", "Stay hydrated y'all!"]
				}
			]
		},
		"Outlaw": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "steer",
					"emote": ["neutral", "laugh"],
					"duration": 2.0,
					"monologue": ["", "HAHA! this is fun!", "I'll ask cap to do treasure hunting on our next quest!"]
				},
				{
					"action": "flipswitch",
					"emote": ["oooh", "shouting"],
					"duration": 2.0,
					"monologue": ["", "I shouldn't have flipped that thing, jeez..."]
				},
				{
					"action": "warmhands",
					"emote": ["sad", "blabbering"],
					"duration": 2.0,
					"monologue": ["", "I shouldn't have flipped that thing, jeez..."]
				}
			]
		},
		"Soldier": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "typing",
					"emote": ["laugh"],
					"duration": 2.0,
					"monologue": ["", "All areas secured"]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Ship hostile detection is clear, we're safe for now", "No hostiles found, you may rest easy everyone"]
				},
				{
					"action": "posedance",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "Exercise is just as important!"]
				}
			]
		},
		"Tailor": {
			"lounge": [
				{
					"action": "drink",
					"emote": ["happy", "oooh", "oh", "sad", "shouting"],
					"duration": 2.0,
					"monologue": ["", "...", "Space is sure big eh?"]
				},
				{
					"action": "posedance",
					"emote": ["blink", "wink"],
					"duration": 2.0,
					"monologue": ["", "Need... to... excersice..."]
				},
				{
					"emote": ["blabbering", "happy"],
					"duration": 2.0,
					"monologue": ["", "I remember captain hiring me, it was very exiting!"]
				}
			],
			"work": [
				{
					"action": "typing",
					"emote": ["laugh", "happy"],
					"duration": 2.0,
					"monologue": ["", "I'll design some armor, don't wanna get yeeted at a wacky planet."]
				},
				{
					"action": "pressbutton",
					"emote": ["blink"],
					"duration": 2.0,
					"monologue": ["", "Paging captain: You might wanna try this new kevlar armor design I have.", "Fashion + Reliability = Badass"]
				},
				{
					"action": "postmail",
					"emote": ["happy", "oooh"],
					"duration": 2.0,
					"monologue": ["", "New designs eh?"]
				}
			]
		}
	},
	"shipMarkerItems": ["fu_byosteleporter", "techstation"],
	"taskDefaults": ["lounge", "roam", "sleep", "work"],
	"taskDefaultActions": ["drink", "flipswitch", "panic", "posedance", "postmail", "pressbutton", "punch", "sell", "steer", "typing", "warmhands"],
	"taskDefaultEmotes": ["annoyed", "blabbering", "blink", "happy", "laugh", "neutral", "oh", "oooh", "sad", "shouting", "wink"],
	"taskActionSpeechChance": 25,
	"taskChangeActivityChance": 15
}

/* Notes */

	// More reactions to be added including "special" ones
	// hop, love, jumpforjoy, vomit, and etc. are special type of actions and will be added in the future

