{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/crewmanagement/swInterfaceHeader.png",
			"fileBody" : "/interface/crewmanagement/swInterface.png",
			"fileFooter" : "/interface/crewmanagement/swInterfaceFooter.png"
		},
		"resetButton" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [116, 26],
			"caption" : "Reset",
			"visible" : true,
			"disabled" : true
		},
		"saveButton" : {
			"type" : "button",
			"base" : "/interface/button.png",
			"hover" : "/interface/buttonhover.png",
			"position" : [100, 26],
			"caption" : "Save",
			"visible" : true,
			"disabled" : true
		},
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [172, 162]
		},
		"lblText" : {
			"type" : "label",
			"position" : [95, 142],
			"hAnchor" : "mid",
			"wrapWidth" : 180,
			"value" : "^#b9b5b2;Select Role from the left and an anchor point to the right"
		},
		"overlay" : {
			"type" : "image",
			"file" : "/interface/crewmanagement/swGlare.png",
			"position" : [0, 0]
		}
	}
}
